/* 
    Created on : 27.10.2022, 10:50:28
    Author     : Stephan
*/

body {
    padding: 0;
    margin: 0;
    background-image: url('images/background.jpg');
    background-size: cover;
    color:rgb(222, 222, 222);
}

.overlay {
    background-color: rgba(163, 157, 41, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.navbar {
    background: #5666b6;
}

.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    color: #000;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar strong {
    padding-left: 10%;
    text-align: center;
    margin: auto;
    padding-top: 10px;
    color: rgb(206, 222, 236);
}

.header {
    font-size: 2.5rem;
}

.feature-title {
    color:rgb(222, 222, 222);
}

.container h3 {
    color: #423232;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.under {
    color: #000000;
    width: 80vw;
    padding: 10px;
    background-color: #d0d6e788;
}

#infoblock {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: stretch;
    border: 2px solid #000000;
}

.input-group-append {
    cursor: pointer;
}

.fa-calendar {
    font-size: 1.2em;
}

.col-form-label {
    font-size: 1.2rem;
}

textarea {
    background: #ece6e682;
}

@media (orientation: landscape) {

    .under {
        color: #000000;
        width: 40vw;
        padding: 10px;
        background-color: #d0d6e788;
    }

    #matrix {
        flex-grow: 2;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: repeat(4, 8vw);
        grid-template-rows: repeat(4, 8vw);
        grid-gap: 5px;
        justify-content: center;
        border: 2px solid #0000006b;
        border-radius: 15%;
    }

    #infoblock {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-content: stretch;
        border: 2px solid #000000;
    }

}